footer{
    background-color: #13037a;
    color: white;
    padding: 40px 0 0 0;
}
footer h4{
    color: white;
    font-size: 1.5rem;
}
footer p{
    font-size: 1rem;
}
footer .navbar-brand{
    color: white;
}
footer .navbar-brand:hover{
    color: white;
}
.footer-row{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.footer-col{
    margin-top: 20px;
}
.footer-icon{
    color: #b90818;
    font-size: 20px;
    padding-right: 20px;
}
.endline{
    text-align: center;
    padding-top: 15px;
} 
/*Small Device*/
@media screen and (max-width:600px){
    footer h4{
        font-size: 1.4rem;
    }
    footer p{
        font-size: 0.9rem;
    }
}